version: "3.8"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload
    environment:
      - ENV=development
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - ./backend:/app

  db:
    image: mysql:8.4
    container_name: agendai-db
    restart: always
    environment:
      MYSQL_DATABASE: agendai
      MYSQL_ROOT_PASSWORD: 'admin123'
    ports:
      - '3307:3306'
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
    name: agendai_db_data
    driver: local
